.navbar {
  background-color:#90DB90 ;
}

.navbar .navbar-toggler {
  border-color: white;
}

.navbar .navbar-toggler-icon,
.navbar .navbar-brand img {
  filter: invert();
}

.navbar .navbar-brand img {
  width: 1.5rem;
}
.nav-link, #about-dropdown .nav-link {
  color: #333;
  font-weight: 500;
  margin-left: 15px;
  display: inline-block; 
}

#about-dropdown {
  display: inline-block;
  margin-left: 15px;
}